*{
  font-family: 'Roboto Mono', monospace;
}

.jumbotron {
  background-image: url(images/Kaimanaslanding.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 17rem;
  float: right;
}

.cards{
  max-width: 75vh;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

.card:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}